body{
    background-color: #f3f3f3;
}

.container{
    padding: 10px;
    border: 1px solid #000;
}

.box{
    padding: 10px;
    margin: 10px;
    background-color: rgb(252, 158, 142);
}

.float-way .box{
    max-width: 30%;
    float: left;
}

.inline-block-way .box {
    /* display in line block */
    display: inline-block;
    max-width: 30%;
    min-height: 215px;
    vertical-align: top;
}

.box-1{
 /* max-width: 49%;   */
}
.box-2{
    float: right;
    /* max-width: 49%; */
}
.box-3{
    /* max-width: initial; */
}

.clearfix{
    clear: both;
}

.good-float a{
    float: right;
}

